.telesales {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 22px;
  background-image: url("../../../assets/bg-imgs/telesales-bg.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y: bottom;
}
.telesales img {
  height: 320px;
}
.telesales div {
  align-self: flex-end;
  margin-bottom: 40px;
}
.telesales button {
  box-shadow: 5px 5px 20px 0px #fbaf1785;
}

@media (max-width: 768px) {
  .telesales {
    height: 200px;
    background-size: cover;
  }
  .telesales img {
    display: none;
  }
  .telesales div {
    margin-bottom: 70px;
  }
}
