header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 55px;
}
.logo-area {
  padding-left: clamp(1.25rem, -3.3929rem + 23.2143vw, 17.5rem);
}
nav {
  background-color: var(--orange);
  height: 100%;
  border-radius: 50px 0 0 50px;
  display: flex;
  align-items: center;
  width: clamp(9.375rem, -2.2321rem + 58.0357vw, 50rem);
}
.list-items {
  margin-left: clamp(0rem, -5rem + 10.4167vw, 4.375rem);
  list-style: none;
}
nav li {
  display: inline-block;
  margin-left: clamp(0.3125rem, 0.0446rem + 1.3393vw, 1.25rem);
}

li a {
  font-size: 14px;
  text-decoration: none;
  color: var(--dark-blue);
}

a.active {
  font-weight: 600;
  border-bottom: 3px solid white;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

@media (max-width: 768px) {
  .list-items {
    display: none;
  }
  nav {
    justify-content: end;
    padding-right: 20px;
  }
}
