.categories {
  margin-top: 40px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.categories-subtitle-area {
  background-color: var(--dark-blue);
  height: 320px;
  width: 100%;
  color: white;
  text-align: center;
  padding-top: 40px;
}
.categories-subtitle-area > div {
  position: relative;
  width: fit-content;
  margin: 0 auto;
}
.categories-subtitle-area img {
  position: absolute;
  top: -50px;
  left: -30px;
  width: 70px;
  height: 70px;
}
.categories-categories-area {
  bottom: -80%;
  margin-top: -145px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}

@media (max-width: 1023px) {
  .categories-categories-area {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (max-width: 768px) {
  .categories-categories-area {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 425px) {
  .categories-categories-area {
    padding-left: 20px;
    padding-right: 20px;
    max-width: 100%;
    overflow-x: scroll;
    display: flex;
  }
}
