:root {
  --orange: #fbaf17;
  --dark-blue: #202332;
  --electric-blue: #1f2860;
}
html {
  scroll-behavior: smooth;
}
html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gotham", sans-serif;
  font-weight: 400;
}

.container {
  max-width: 1440px;
  width: 100%;
  padding: 0 clamp(1.25rem, 0.8929rem + 1.7857vw, 2.5rem);
  margin: 0 auto;
}
